<!doctype html>
<html>
  <head>
    <title>Trakker</title>
    <meta content="width=device-width" height="device-height" user-scalable="no"
          initial-scale="1.0" maximum-scale="1.0" minimum-scale="1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="chrome=1" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="/images/favicon.png">
    {% if debug %}
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    {% else %}
      <link type="text/css" rel="stylesheet" href="/stylesheets/main-min.css">
    {% endif %}
  </head>
  <body>
    <header>
      <h1>Trakker</h1>
      {% block content %}{% endblock %}
    </head>
    <footer></footer>
  </body>
</html>
