<h1><a href="/tracklists/{{ data.id }}">{{ data.artist }} - {{ data.title }}</a></h1>

<form method="post" data-action="tracklist-edit" data-url="/tracklists/{{ data.id }}">
  <label for="artist">
    <span>Artist</span>
    <input type="text" name="artist" value="{{ data.artist }}" required>
  </label>
  <label for="title">
    <span>Title</span>
    <input type="text" name="title" value="{{ data.title }}" required>
  </label>
  <label for="released">
    <span>Released</span>
    <input type="text" name="released" value="{{ data.released }}" placeholder="yyyy-mm-dd">
  </label>
  <label for="download">
    <span>Download</span>
    <input type="text" name="download" value="{{ data.download }}">
  </label>
  <div class="form-actions">
    <button type="submit">Update</button>
  </div>
</form>

<ol class="tracklist-edit">
  {% for track in data.tracks %}
    <li>
      <form method="post" data-action="track-edit" data-url="/tracks/{{ track.id }}">
        <input type="text" name="startTime" class="time" value="{{ track.startTime }}">
        <input type="text" name="title" class="title" value="{{ track.title }}">
        <input type="text" name="keywords" class="keywords" placeholder="keywords" value="{{ track.keywords }}">
        <input type="hidden" name="tracklist_id" value="{{ track.tracklist_id }}">
        <button type="button" class="delete" data-action="track-delete" data-url="/tracks/{{ track.id }}">Delete</button>
        <button type="submit">Update</button>
      </form>
    </li>
  {% endfor %}
</ol>
